##########################################################
#  English translation of "Das Git-Buch" (the Git Book)  #
#  https://github.com/Fossy-Cats/Git-Buch_EN             #
##########################################################

root = true


## Repository Configurations
############################
[.{git*,editorconfig,*.yml}]
end_of_line = lf
indent_style = space
indent_size = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[.gitmodules]
indent_style = tab


## Markdown GFM
###############
[*.md]
indent_style = space
indent_size = unset
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## AsciiDoc
###########
[*.{asc,adoc,asciidoc}]
indent_style = space
indent_size = unset
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

## HTML Related Files
#####################
[*.{html,css}]
indent_style = space
indent_size = unset
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = unset
insert_final_newline = unset
[docs/{*.css,index.html}]
end_of_line = lf


## Ruby
#######
[{*.rb,*.gemspec,*.rake,Rakefile,rakefile}]
indent_size = 2
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## JavaScript
#############
[*.js]
indent_style = space
indent_size = 2
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Shell Scripts
################
[*.sh]
end_of_line = lf
indent_style = tab
indent_size = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Plain-Text Files
###################
[*.txt]
indent_style = space
indent_size = unset
end_of_line = unset
trim_trailing_whitespace = true
insert_final_newline = true

[LICENSE]
indent_size = unset
indent_style = space
end_of_line = unset
trim_trailing_whitespace = true
insert_final_newline = true



# EOF #
