##########################################################
#  English translation of "Das Git-Buch" (the Git Book)  #
#  https://github.com/Fossy-Cats/Git-Buch_EN             #
##########################################################

* text=auto

## Repository Configuration
###########################
.editorconfig    text eol=lf
.gitlab-ci.yml   text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf


## Documentation Files
######################
*.asc        text
*.adoc       text
*.asciidoc   text
*.md         text
*.pdf        binary
*.txt        text
LICENSE      text

## HTML Related Files
#####################
*.html             text
/docs/index.html   text eol=lf
/docs/*.css        text eol=lf

## Ruby Files
#############
[attr]Ruby text eol=lf
*.rb        Ruby
*.rake      Ruby
*.gemspec   Ruby
Rakefile    Ruby
rakefile    Ruby


## Shell Scripts
################
*.bat   text eol=crlf
*.cmd   text eol=crlf
*.sh    text eol=lf
*.ps1   text eol=crlf


## Image & Graphics Files
#########################
*.png    binary
*.svg    binary


## Third Party Tools File Formats
#################################
# Dia Diagram Editor: http://dia-installer.de/
*.dia    binary
# ColorImpact 4 palettes: http://www.tigercolor.com
*.cifc   binary


# EOF #
