##########################################################
#  English translation of "Das Git-Buch" (the Git Book)  #
#  https://github.com/Fossy-Cats/Git-Buch_EN             #
##########################################################

*.html
!docinfo.html
!docs/*.html

## TMP Work Files
#################

# Temporary/backup or removed files and folders:
___*
___*.*

# Links and URLs:
*.lnk
*.url

## Third Party Tools Temporary Files
####################################

# Chrome's debug logs for local HTML pages:
debug.log

# Dia Diagram Editor: http://dia-installer.de/
*.dia~
assets_src/img/dia/*.zip
assets_src/img/dia/Dia/


############################
## COMMON IGNORE PATTERNS ##
############################

## Linux
########
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

## macOS
########
*.DS_Store
._*
.AppleDouble
.LSOverride
Icon

## Windows
##########
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
.BIN/

# EOF #
